/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Campus Placement Auto
-------------------------------------------------------------------*/
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'futura-bold';
  src: url("../fonts/Futura-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #5c5c77; }

p, .paragraph {
  font-weight: 400;
  color: #5c5c77;
  font-size: 15px;
  line-height: 1.9;
  font-family: "Poppins", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #1e1e4b;
  font-family: "futura-bold";
  font-weight: 600;
  line-height: 1.2; }

h1, .h1 {
  font-size: 60px; }
  @media (max-width: 575px) {
    h1, .h1 {
      font-size: 45px; } }

h2, .h2 {
  font-size: 40px; }
  @media (max-width: 575px) {
    h2, .h2 {
      font-size: 30px; } }

h3, .h3 {
  font-size: 25px; }
  @media (max-width: 575px) {
    h3, .h3 {
      font-size: 20px; } }

h4, .h4 {
  font-size: 20px; }
  @media (max-width: 575px) {
    h4, .h4 {
      font-size: 18px; } }

h5, .h5 {
  font-size: 18px; }
  @media (max-width: 575px) {
    h5, .h5 {
      font-size: 16px; } }

h6, .h6 {
  font-size: 16px; }
  @media (max-width: 575px) {
    h6, .h6 {
      font-size: 14px; } }

/* Button style */
.btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 15px 40px;
  border-radius: 0;
  font-weight: 500;
  border: 0;
  position: relative;
  z-index: 1;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  overflow: hidden; }
  .btn::before {
    position: absolute;
    content: "";
    height: 80%;
    width: 100%;
    left: 0;
    bottom: 10%;
    z-index: -1;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  .btn:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn:hover::before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }

.btn-sm {
  font-size: 14px;
  padding: 10px 35px; }

.btn-xs {
  font-size: 12px;
  padding: 5px 15px; }

.btn-primary {
  background: #FF2F2C;
  color: #fff; }
  .btn-primary::before {
    background: #fff; }
  .btn-primary:active {
    background: #FF2F2C !important;
    color: #FF2F2C; }
    .btn-primary:active::before {
      height: 80%; }
  .btn-primary:hover {
    background: #f80400;
    color: #FF2F2C; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f80400;
  border-color: #f80400; }

.btn-secondary {
  background: #fff;
  color: #FF2F2C;
  border: 1px solid #fff; }
  .btn-secondary::before {
    background: #FF2F2C; }
  .btn-secondary:active {
    background: #FF2F2C;
    color: #fff;
    border: 1px solid #fff; }
  .btn-secondary:hover {
    background: #fff;
    color: #fff;
    border: 1px solid #fff; }

.btn-primary-outline {
  border: 1px solid #FF2F2C;
  color: #FF2F2C;
  background: transparent; }
  .btn-primary-outline::before {
    background: #fff; }
  .btn-primary-outline:hover {
    background: #FF2F2C;
    color: #FF2F2C; }
  .btn-primary-outline:active {
    background: #FF2F2C;
    color: #fff; }

body {
  background-color: #fff;
  overflow-x: hidden; }
  body hr {
    border-top: 2px solid #FF2F2C;
    margin-top: .3rem;
    margin-bottom: 1rem; }

::-moz-selection {
  background: #ff615f;
  color: #fff; }

::selection {
  background: #ff615f;
  color: #fff; }

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

ol,
ul {
  list-style-type: none;
  margin: 0px; }

img {
  vertical-align: middle;
  border: 0; }

a {
  color: #FF2F2C; }

a,
a:hover,
a:focus {
  text-decoration: none; }

a,
button,
select {
  cursor: pointer;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease; }
  a:focus,
  button:focus,
  select:focus {
    outline: 0; }

a:hover {
  color: #FF2F2C; }

a.text-primary:hover {
  color: #FF2F2C !important; }

a.text-light:hover {
  color: #FF2F2C !important; }

h4 {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease; }

a h4:hover {
  color: #FF2F2C; }

.slick-slide {
  outline: 0; }

.section {
  padding-top: 90px;
  padding-bottom: 90px; }
  .section-sm {
    padding-top: 40px;
    padding-bottom: 40px; }
  .section-title {
    margin-bottom: 30px; }

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.border-primary {
  border-color: #ededf1 !important; }

/* overlay */
.overlay {
  position: relative; }
  .overlay::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1a1a37;
    opacity: .8; }

.outline-0 {
  outline: 0 !important; }

.d-unset {
  display: unset !important; }

.bg-primary {
  background: #FF2F2C !important; }

.bg-secondary {
  background: #FF2F2C !important; }

.bg-gray {
  background: #f8f8f8; }

.text-primary {
  color: #FF2F2C !important; }

.text-color {
  color: #5c5c77; }

.text-light {
  color: #8585a4 !important; }

.text-lighten {
  color: #d6d6e0 !important; }

.text-muted {
  color: #b5b5b7 !important; }

.text-dark {
  color: #1e1e4b !important; }

.font-secondary {
  font-family: "futura-bold"; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.pl-150 {
  padding-left: 150px; }

.zindex-1 {
  z-index: 1; }

.overflow-hidden {
  overflow: hidden; }

.vertical-align-middle {
  vertical-align: middle; }

.icon-md {
  font-size: 36px; }

/* page title */
.page-title-section {
  padding: 200px 0 80px; }

.custom-breadcrumb li.nasted {
  position: relative;
  padding-left: 25px; }
  .custom-breadcrumb li.nasted::before {
    position: absolute;
    font-family: "themify";
    content: "\e649";
    font-size: 20px;
    top: 50%;
    left: -5px;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/* /page title */
.list-styled {
  padding-left: 25px; }
  .list-styled li {
    position: relative;
    margin-bottom: 15px; }
    .list-styled li::before {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #FF2F2C;
      left: -25px;
      top: 5px; }

textarea.form-control {
  height: 200px;
  padding: 20px; }

#map_canvas {
  height: 500px; }

.top-header {
  font-size: 14.2px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  font-weight: 400;
  font: "Roboto", sans-serif;
  background: #000099; }
  .top-header .no-gutters .p-2, .top-header .ti-mobile {
    margin-bottom: 1px !important;
    font-size: 17px; }
  .top-header a {
    color: #fff; }
    .top-header a:hover {
      color: #fff; }
  .top-header.hide {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }

@media (max-width: 991px) {
  .header {
    position: static !important;
    background: #FF2F2C; } }

.navigation {
  background: #fff;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  height: 3.75rem; }
  @media (max-width: 575px) {
    .navigation {
      background: #fff; } }

.logo {
  font-weight: 600;
  color: #FF2F2C !important;
  font-size: 35px; }

#navbarSupportedContent {
  background: #fff;
  z-index: 100; }

.navbar-nav {
  padding-left: 50px;
  background: #fff; }
  @media (max-width: 991px) {
    .navbar-nav {
      padding-left: 0; } }

.nav-bg {
  margin-top: -50px; }

.nav-item {
  margin: 0 15px;
  position: relative; }
  .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 500; }
  .nav-item::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    content: "";
    background: #FF2F2C /*black*/;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
  .nav-item:hover::before, .nav-item.active::before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }

.navbar-light .navbar-nav .nav-link {
  color: /*#FF2F2C*/ black; }

link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: /*#FF2F2C*/ black; }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: /*#FF2F2C*/ black; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 17px 0px;
  padding-top: 22px; }
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 20px; } }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px #0000000d;
  box-shadow: 0 2px 5px #0000000d; }

.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.navbar .dropdown-menu {
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  border-bottom: 5px solid #FF2F2C;
  padding: 10px;
  top: 55px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  background: #fff; }
  @media (max-width: 991px) {
    .navbar .dropdown-menu {
      display: none;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform-origin: unset;
      -ms-transform-origin: unset;
      transform-origin: unset; } }
  .navbar .dropdown-menu.view {
    visibility: visible !important;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    @media (max-width: 991px) {
      .navbar .dropdown-menu.view {
        display: block; } }
  .navbar .dropdown-menu.show {
    visibility: hidden; }
    @media (max-width: 991px) {
      .navbar .dropdown-menu.show {
        visibility: visible;
        display: block; } }

.navbar .dropdown-item {
  position: relative;
  color: #1e1e4b;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 991px) {
    .navbar .dropdown-item {
      text-align: center; } }
  .navbar .dropdown-item:not(:last-child) {
    margin-bottom: 10px; }
  .navbar .dropdown-item:hover {
    color: /*#FF2F2C*/ black;
    background: transparent; }

.cards {
  width: 100%;
  margin: 0 auto;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .cards__container {
    width: 100%;
    height: 600px;
    position: relative;
    padding: 120px 0 200px;
    margin-bottom: 50px;
    -webkit-transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .cards__front, .cards__back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-size: cover;
    -webkit-box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.2);
    box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.2); }
  .cards__front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .cards__back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .cards.is-flipped .cards__container {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.card-1 {
  background-image: url(images/pic1.jpg); }

.card-4 {
  background-image: url(images/pic4.jpg); }

.feature-icon {
  font-size: 50px;
  color: #FF2F2C;
  display: inline-block; }

.feature-blocks {
  margin-top: 0;
  padding-left: 70px;
  padding-top: 80px;
  padding-right: 30%; }
  @media (max-width: 1400px) {
    .feature-blocks {
      padding-right: 10%; } }
  @media (max-width: 1200px) {
    .feature-blocks {
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 30px; }
      .feature-blocks h3 {
        font-size: 20px; } }
  @media (max-width: 991px) {
    .feature-blocks {
      margin-top: 0;
      padding: 50px; }
      .feature-blocks h3 {
        font-size: 25px; } }

/* /banner feature */
/* course */
.card-btn {
  font-size: 12px;
  padding: 5px 10px; }

.flex-basis-33 {
  -ms-flex-preferred-size: 33.3333%;
  flex-basis: 33.3333%; }

.hover-shadow {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .hover-shadow:hover {
    -webkit-box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15); }

/* /course */
.about_us .order-md-1 {
  margin-top: -20px; }

.about_us .img-fluid {
  height: 530px;
  width: 400px;
  margin-left: 10px;
   }

  @media (max-width: 991px) {
    .about_us .img-fluid .img-fluid {
      width: 100% !important; } }

/* success story */
.success-video {
  min-height: 300px; }
  .success-video .play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 767px) {
      .success-video .play-btn {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }

.play-btn {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #FF2F2C;
  color: #fff;
  font-size: 20px;
  text-align: center; }
  .play-btn i {
    line-height: 80px; }
  .play-btn::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -2;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s; }
  .play-btn::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FF2F2C;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
  .play-btn:hover::before {
    height: 80%;
    width: 80%;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .play-btn:hover::after {
    height: 0;
    width: 0;
    -webkit-transition: 0s ease;
    -o-transition: 0s ease;
    transition: 0s ease; }

/* /success story */
.testimonials {
  padding-bottom: 90px; }
  .testimonials .carousel-indicators {
    bottom: -60px; }
    .testimonials .carousel-indicators li {
      color: #FF2F2C !important;
      width: 20px;
      -webkit-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
  .testimonials .carousel-inner img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 3px solid gray;
    padding: 5px; }
  .testimonials .carousel-inner p {
    font-size: 13px;
    font-weight: 300px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-style: italic; }
  .testimonials .selected .card {
    width: 8rem;
    height: 10rem;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; }
    @media (max-width: 575px) {
      .testimonials .selected .card {
        width: 14rem !important;
        height: 16rem !important;
        margin-left: 20px !important; } }
    .testimonials .selected .card b, .testimonials .selected .card p {
      font-size: 12px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .testimonials .selected h2 {
    margin-right: 0px !important; }
  .testimonials .selected .mb-4 {
    margin-bottom: 10px !important;
    padding-left: 80px !important; }
  .testimonials .selected hr {
    border-top: 2px solid #FF2F2C;
    width: 65%;
    margin-top: .3rem;
    margin-bottom: 1rem; }

/* teacher */
.teacher-info {
  width: 70%;
  bottom: 0;
  right: 0; }

.teacher-section {
  padding-top: 10px !important;
  padding-bottom: 15px !important; }
  .teacher-section .col-lg-3 {
    padding-right: 55px; }
  .teacher-section hr {
    width: 27%;
    margin-left: 0 !important; }

.teacher {
  width: 220px;
  height: 350px;
  padding-left: 20px;
  padding-right: 20px; }

/* /teacher */
/* footer */
.input-wrapper {
  position: relative; }
  .input-wrapper button {
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.form-control {
  height: 60px;
  background: #fff;
  border-radius: 0;
  padding-left: 25px; }
  .form-control:focus {
    border-color: #FF2F2C;
    -webkit-box-shadow: none;
    box-shadow: none; }

.bg-footer {
  background-color: #182b45; }

.logo-footer {
  margin-top: -20px;
  display: inline-block; }

.footer {
  border-color: #494a43 !important;
  padding-top: 50px;
  padding-bottom: 30px; }
  .footer .arrow {
    color: #e86a47; }
  .footer h4 {
    margin-bottom: 15px !important;
    padding-bottom: 8px !important; }

.widget {
  margin-bottom: 30px;
  padding-bottom: 35px; }
  .widget .widget-title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .widget.widget-subscription .form-group {
    margin-bottom: 8px; }
    .widget.widget-subscription .form-group input {
      font-size: 12px;
      font-weight: 200;
      height: 45px; }
  .widget.widget-subscription .btn-main {
    width: 100%; }
  .widget.widget-latest-post .media .media-object {
    width: 150px;
    height: auto; }
  .widget.widget-latest-post .media .media-heading a {
    color: #000;
    font-size: 14px;
    font-weight: 300; }
  .widget.widget-latest-post .media p {
    font-size: 12px; }
  .widget.widget-category ul li {
    margin-bottom: 10px; }
    .widget.widget-category ul li a {
      color: #837f7e;
      font-weight: 200; }
      .widget.widget-category ul li a:before {
        padding-right: 10px;
        content: "\f3d1";
        font-family: "themify"; }
      .widget.widget-category ul li a:hover {
        color: #FF2F2C;
        padding-left: 5px; }
  .widget.widget-tag ul li {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px; }
    .widget.widget-tag ul li a {
      color: #837f7e;
      display: inline-block;
      padding: 8px 15px;
      border: 1px solid #dedede;
      border-radius: 30px;
      font-size: 12px; }
      .widget.widget-tag ul li a:hover {
        color: #f8f9fe;
        background: #FF2F2C;
        border: 1px solid #000; }

.filter-controls li {
  cursor: pointer;
  -webkit-transition: .1s ease;
  -o-transition: .1s ease;
  transition: .1s ease; }
  .filter-controls li.mixitup-control-active {
    font-weight: 600;
    color: #FF2F2C; }
  .filter-controls li:hover {
    color:white #FF2F2C; }

.ti-hand-point-right {
  font-size: 20px;
  color: #FF2F2C;
  margin-right: 10px; }
